.song-list {
  width: 60vw;
}

.slides-config-container,
.song-list-container {
  width: 100%;
  padding: 30px 0 0; 
  font-size: max(2.5vw, 2.5vh);
}

.slides-config-container {
  padding-bottom: 10px;
}

.song-list-container {
  padding-top: 0;
  padding-bottom: 0;
}

.add-button,
.export-button {
  color: white;
  background-color: #65768E;
  display: inline-flex;
  align-self: center;
  width: 25px;
  height: 25px;
  line-height: 20px;
  font-size: 25px;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 50px;
}

.add-button:hover {
  background-color: #909DAD;
}

.export-button {
  border-radius: 50px;
  width: auto;
  padding: 3px 40px;
  font-size: 15px;
  line-height: 25px;
  background-color: #469BFD;
  margin-bottom: 25px;
}

.export-button:hover {
  background-color: #469BFDC0;
}