.modal-bg {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
}

.modal-container,
.entry-modal-container {
  margin: 15vh 5% auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #FFF;
  height: auto;
  width: auto;
  overflow: auto;
  text-align: justify;
  box-sizing: border-box;
}

.entry-modal-container {
  margin-top: 25vh;
  padding: 2% 3% 3%;
}

.modal-content-container {
  width: 100%;
  height: auto;
}

.primary-modal-button {
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  background-color: #65768E;
  width: auto;
  height: auto;
  float: right;
  margin: 0 5px;
}

.secondary-modal-button {
  padding: 10px 40px;
  color: #65768E;
  background-color: white;
  border: 1px solid #65768E;
  border-radius: 5px;
  display: inline-block;
  width: auto;
  height: auto;
  float: right;
  margin: 0 5px;
}

.primary-modal-button:hover {
  cursor: pointer;
  background-color: #909DAD;
}

.secondary-modal-button:hover {
  cursor: pointer;
  color: white;
  background-color: #909DAD;
  border: 1px solid #909DAD;
}

.accept-button {
  margin: 25px auto 10px;
}