img {
  height: 15px;
  margin: 5px 15px;
}

.text-color {
  display: flex;
  flex-flow: column wrap;
  min-width: 50px;
  text-align: center;
}

.font-selector, .size-selector{
  border: 1px solid rgba(50, 50, 50, .2);
  border-radius: 2px;
  height: 20px;
  margin: auto 1px;
  font-size: 12px;
  line-height: 20px;
  padding: 0 5px;
}

.font-selector {
  width: 80px;
  min-width: 50px;
}

.size-selector {
  width: 30px;
}

.color-bar {
  font-size: 0;
  height: 4px;
  width: 20px;
  position: relative;
  top: -5px;
  left: calc((100% - 21px) / 2);
  background-color: #F1F1F1;
  border-radius: 1px;
}

.selected {
  background-color: #E1E1E1;
}

.font-color-picker-container {
  position: absolute;
  z-index: 2;
  left: calc(50% - 225px / 2);
  top: calc(19vh - 5px);
}

.font-color-picker-container .cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.font-color-picker-container input {
  border: 1px solid #65768E !important;
  box-shadow: none !important;
}
